/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

params {
    // Test profile parameters
    input       = 'test/samplesheet.csv'
    outdir      = 'results/test'

    // Use default model
    models = ['conic']

    // Smaller batch size for testing
    batch_size  = 4

    // Use CPU for CI testing
    device      = 'cpu'
}

process {
    // Reduced resources for testing
    cpus   = 2
    memory = 8.GB
    time   = 1.h
}
